@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

$global-font: 'Open Sans', sans-serif;

$navigation-height: 160px;
$side-padding: 100px;

$line-color: lightgray;
$button-bg-color: #f2f2f2;

@mixin general-button() {
  font-family: $global-font;
  outline: none;
  box-shadow: none;
  background-color: $button-bg-color;
  border: none;
  text-transform: uppercase;
  padding: 10px;
  transition: all 0.2s;

  &:hover,
  &:focus,
  &:visited {
    outline: none;
    box-shadow: none;
  }

  &:hover {
    background-color: black;
    color: white;
  }
}
