@import "src/styles/_globals.scss";

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 600px auto $navigation-height;
  grid-template-rows: $navigation-height auto $navigation-height;
  grid-template-areas:
    "side header pad"
    "side main pad"
    ". footer pad";

  .sideContainer {
    grid-area: side;
  }

  .headerContainer {
    grid-area: header;
  }

  .mainContainer {
    grid-area: main;
  }

  .footerContainer {
    grid-area: footer;
  }
}
