@import "src/styles/_globals.scss";

.container {
  padding-top: $side-padding;
  margin-bottom: auto;

  .pieceTitle {
    margin: 0;
  }

  .seriesName {
    color: lightgray;
  }

  .text {
    text-align: justify;
    font-size: 13px;
  }
}